 Default CSS */

html,
body {
    height: 100%;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

.text-center {
    text-align: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Header Area */


/* Welcome Area */


/* About Area */

.about-area {
    background-color: #f9f9f9;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-item {
    width: 500px;
    height: auto;
    margin: 20px;
}


/* Quote Area */
.quote-area {
  background: rgba(0, 0, 0, 0) url("../img/quote/quote.jpg");
  padding-top: 125px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f9f9f9;
}
.quote{
  font-size: 30px;
  line-height: 35px;
}
.quote-src{
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}

/* Services Area */

.services-area {
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-item {
    width: 300px;
    height: auto;
    padding-top: 10px;
}
/* Modal for Services*/
.modal {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.modal-title {
  text-align: center;
}

/* Subscribe Area */
.subscribe-area {
  background: rgba(0, 0, 0, 0) url("../img/subscribe/subscribe.jpg");
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  color: #f9f9f9;
}
/* Contact Area */

.contact-area {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
}


/* Footer Area 