/* Default CSS */

html,
body {
    height: 100%;
}

body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
}

.text-center {
    text-align: center;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
  padding-bottom:50px;
}
.left {
  text-align: left;
}
/* Header Area */
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 25px;
  }
}

/* Welcome Area */
.welcome-area {
  padding-top: 100px;
}

@media screen and (max-width:414px){
  .active .slide,
  .carousel-item-left .slide{
    width:initial;
    transform:translateX(-25%);
  }
}
/* About Area */

.about-area {
    background-color: #f9f9f9;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-item {
    width: 500px;
    height: auto;
    margin: 20px;
    padding:auto;
}


/* Quote Area */
.quote-area {
  background: rgba(0, 0, 0, 0) url("../img/quote/quote.jpg");
  padding-top: 150px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f9f9f9;
}
.quote{
  font-size: 30px;
  line-height: 35px;
}
.quote-src{
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}

/* Services Area */

.services-area {
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 70px;
    
    
}

.services-item {
    width: 300px;
    height: auto;
    padding-top: 10px;
    margin:30px;
    text-align: left;
}
.services-button {

  border-color: #C0C0C0;
  width: 300px;
  height:350px;
}
button:focus {outline:0;}

.services-img {
  width:500px;
  padding-bottom: 30px;
}
.service-content {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
/* Modal for Services*/

.modal-title {
  text-align: center;
  padding-bottom: 20px;
}

/* Subscribe Area */
.subscribe-area {
  background: rgba(0, 0, 0, 0) url("../img/subscribe/subscribe.jpg");
  padding-top: 100px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  color: #f9f9f9;
}
.off-text {
  margin-bottom: 50px;
}
/* Contact Area */

.contact-area {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
}
.contact-title{
  margin-bottom: 50px;
}

/* Footer Area */

.footer {
  padding: 50px;
  text-align: center;
  background-color: #f9f9f9;
}